{% extends 'base.html.twig' %}

{% block title %}Edit InfoDependencia{% endblock %}

{% block body %}
    <div id="loaderB"></div>
    <div class="card" style="overflow:auto">
    
        <div class="card-header">
            <div class="row">
    
                <div class="col-sm-10">
                    <h3><i class="fa fa-institution"></i>&nbsp; <b>Editar reparticion</b></h3>
                    <p class="text-muted h6 m-b-10 mt-3">Los cambios se verán reflejados en todas las dependencias</p>
                </div>
    
                {# <div class="col-sm-2">
                    <a href="{{ path('app_admin_dependencias_edit', {'id': info_dependencium.id}) }}">
                        <button class="btn btn-inverse btn-inverse-jag btn-inverse-jag btn-outline-inverse"
                            style="width: 100%;">
                            <i class="ti-receipt"></i>&nbsp;Editar</button></a>
                </div> #}
    
                <div class="col-sm-2">
                    <a href="{{path('app_info_reparticion_index')}}">
                        <button class="btn btn-inverse btn-inverse-jag btn-inverse-jag btn-outline-inverse"
                            style="width: 100%;">
                            <i class="ti-back-left"></i>&nbsp;Volver</button></a>
                </div>
    
    
            </div>
        </div>


        <div class="card-block">
            {# <h1>Edit InfoDependencia</h1> #}
            
            {{ include('admin_reparticion/_form.html.twig', {'button_label': 'Guardar'}) }}
            
            {# <a href="{{ path('app_admin_dependencias_index') }}">Volver</a> #}

        </div>
</div>


    {# {{ include('admin_dependencias/_delete_form.html.twig') }} #}
{% endblock %}
